# .env.local (on system)

# Convex backend https://dashboard.convex.dev/
CONVEX_DEPLOYMENT=dev:your-team,project-name      # e.g. dev:tan-devs/sandem
PUBLIC_CONVEX_URL=https://your-deployment.convex.cloud
PUBLIC_CONVEX_SITE_URL=https://your-app-domain.com

# Liveblocks https://liveblocks.io/dashboard
PUBLIC_LIVEBLOCKS_KEY=pk_live_...               # published to browser
LIVEBLOCKS_SECRET_KEY=sk_live_...               # server only


---

# Environment Variables (on convex backend https://dashboard.convex.dev)

# Application URL (used by auth callbacks, E2E tests, etc.)
SITE_URL=http://localhost:5173

# GitHub OAuth https://github.com/settings/developers
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...

# BetterAuth https://better-auth.com/docs/integrations/convex
BETTER_AUTH_SECRET:...
BETTER_AUTH_URL:...