node_modules

# Output
.output
.vercel

/.agents
/.calude
/.storybook
/.svelte-kit
/.vscode

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

*storybook.log
storybook-static
